body {width: 100%; 
    height:100%; 
    display: flex; 
    flex-direction: column; 
	justify-content: space-between;
	margin: 0px;}
header {width: 100%; 
    height:90px; 
	background: #1a1a1d; 
	display: flex; 
	justify-content: space-between; 
	align-items: center;}
main {width: 100%; 
    height: auto;
	background-image: url(img/back.png); 
	display: flex; 
	flex-direction: column;
	margin: 0 px;}
footer {width:100%; 
    height:100px; 
	background: #1a1a1d; 
	display: flex;}
.pustoy {background-color: #228822;
        width: 100%;
        height: 90px;
		align-items: center;}
.obotelenadp {
	color: #d2c1b5;
    font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-shadow: 0.5px 0.5px 5px black, 0 0 1em #d2c1b5;}			
.nomerone {height: 160px;
    width: auto;
	box-shadow: 0px 0px 10px 8px #000;
	border-radius: 30px;}
.nomertwo {height: 160px;
            width: 250px;
			box-shadow: 0px 0px 10px 8px #000;
			border-radius: 30px;}
.pustoytwo {width: 100%;
            height: 80px;
            color: #CCFF33;}
.nomeronediv {color: #CCFF33;
            width: 100%;
            height: 210px;
			display: flex;
			justify-content: space-around;}
.nomera {color: #2082AA;
        text-align: center;}
.bas {color: #0066FF;
        text-align: center;}
.basdiv {color: #CCFF33;
    width: 100%;
    height: 160px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;}
.sport {color: #FF9933; 
        text-align: center;}
.eda {color: #FFFF00;
    text-align: center;}
.nomer {height: 160px;
    width: auto;
	box-shadow: 0px 0px 10px 8px #000;
	border-radius: 30px;}
.pers {color: #CC9900;
        text-align: center;}
.text {
	text-align:center;
	color: #d2c1b5;
}
.ozn {
	text-align: center;
	color: #d2c1b5;
}
.imgg {height: 80px; 
    width: 120px; 
	border-radius: 30px;}
* {
	box-sizing:border-box;
}
table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	height: auto;
	width: auto;
}
.nav {
    display: inline-flex;
	justify-content: center;
    position: relative;
	max-width: 100%;
    padding: 0 20px;
	border-radius: 40px;}
.nav-item {
	color: #d2c1b5;
	padding: 20px;
	text-decoration: none;
	transition: .3s;
	margin: 0 6px;
	z-index: 1;
	font-weight: 500;
	position: relative;}
.nav-item:not(.is-active):hover { color: #8c7b73;
	transition: .4s;
	}

.copy {
	vertical-align: text-bottom;
	padding-top: 65px;
	color: #d2c1b5;
}
.kontakt {
	margin-left: 0%;
	margin-top: 30px;
	text-decoration: none;
	color: #d2c1b5;
}
.about {
	margin-left: 12%;
	margin-right: auto;
	margin-top: 30px;
	text-decoration: none;
	color: #d2c1b5;
}
.bron {
	margin-left: 12%;
	margin-top: 30px;
	text-decoration: none;
	color: #d2c1b5;
}
.Geo {
	margin-left: 12%; 
	margin-top: 30px;
	text-decoration: none;
	color: #d2c1b5;
}
.Geo:hover {
	color:#8c7b73;
	transition: .4s;
}
.bron:hover {
	color:#8c7b73;
	transition: .4s;
}
.about:hover {
	color:#8c7b73;
	transition: .4s;
}
.kontakt:hover {
	color:#8c7b73;
	transition: .4s;
}